.icon-arrow-down {
  width: 1.6em;
  height: 1em;
  fill: #272E35;
}
.icon-arrow-next {
  width: 2.5em;
  height: 1em;
  fill: #6e757c;
}
.icon-arrow-prev {
  width: 2.5em;
  height: 1em;
  fill: #6e757c;
}
.icon-dark {
  width: 1em;
  height: 1em;
  fill: #808191;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: #6E757C;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: #6E757C;
}
.icon-light {
  width: 1.04em;
  height: 1em;
  fill: #808191;
}
.icon-play {
  width: 0.67em;
  height: 1em;
  fill: #272E35;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: #6E757C;
}
